@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Bangers&family=Dancing+Script&family=IBM+Plex+Serif:ital,wght@1,600&family=Jost:wght@300;400&family=Kalam&family=Signika+Negative&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

/* ----------------ROOT VARIABLES------------------------*/
:root{
    --color-primary: #fbce3c;
    --color-hover: #62ede6;
    --color-background: #e8eaef;
    --color-white: #f3f5f6;
    --color-dark: #0b0b0b;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --color-info-light: #0c0c0c;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-info-dark: #b9c2cc;
    --color-primary-variant: #66aee9;
    --dark-gray:rgb(200, 200, 210);

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-raduis-2: 0.8rem;
    --border-raduis-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

/*------------------------------DARK THEME VARIABLES----------------------------------*/
.dark-theme-variables {
    --color-primary: #66aee9;
    --color-hover: #3744c1;
    --color-background: #f6f6f9;
    --color-white:  #fff;
    --color-dark: #363949;
    --color-dark-variant:  #677483;
    --color-light: rgba(132, 139,200,0.18);
    --color-info-light: #dce1eb;
    --box-shadow: 0 2rem 3 rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width:100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.container{
    display: grid;
    width: 96%;
    margin:0 auto;;
    gap: 2.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width:100%;
}

h1{
    font-weight: 800;
    font-size:1.8rem;
}

h2{
    padding-top:5px;
    font-size: 1.4rem;
}

aside .top .logo h2 {
    margin-left: 40px;
    position: fixed;
    
}
.logo{
    padding-top: 15px;
}
h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}
h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: var(--color-info-dark);
}

p{
    color: var(--color-dark-variant);
}

/*bold tag*/
b{
    color: var(--color-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-success);
}
.success{
    color: var(--color-success);
}
.warning{
    color: var(--color-warning);
}

aside{
height: 100vh;
}

aside.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo{ 
    display: flex;
    gap: 0.8rem;
}   


aside .logo img{
    width: 2.5rem;
    height: 2.5rem;
    position: fixed;
}

aside .close{
    display: none;
}

aside div.top h2 span.primary{
    margin-left: 1px;
}

/*-------------------SIDEBAR-----------------------*/

aside .sidebar {
    margin-top: 40px;
    margin-right: 2rem;
    background: var(--color-info-light);
    border-radius: 0px 0px 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: fixed;
    top: 3rem;
    width:30vh;
}

aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 1rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before {
content: "";
width: 6px;
height: 100%;
background: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(0.5rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 1rem; 
}

aside .sidebar  .message-count {
    background: var(--color-primary);
    color: var(--color-background);
    padding: 2px 5px;
    margin-right: 18px;
    margin-left: -7px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/* ---------------- MAIN SECTION---------------------*/

main{
    margin-top: 1.4rem;
}

main h2 {
    margin-top: 1.4rem;
}

main .casualties{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}


main .casualties > div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all .45s ease
}

main .casualties > div:hover{
    transform: translateY(-8px);
    cursor: pointer;
}

main .casualties > div span{
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main .casualties > div.deaths span{
 background: var(--color-success);
}

main .casualties > div.injuries span{
    background: var(--color-primary);
}

main .casualties > div.missing span{
    background: var(--color-primary-variant);
}

main .casualties > div .middle{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
main .casualties h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
    margin-right: -10px;
}


main .casualties .updates {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .casualties svg {
    width: 7rem;
    height: 7rem;
}

main .casualties svg circle {
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

main .casualties .deaths svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .casualties .injuries svg circle {
    stroke-dashoffset: 20;
    stroke-dasharray: 80;

}main .casualties .missing svg circle {
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
}

main .casualties .updates .number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------------------DISASTER ADVISORY (MAP) SECTION-----------------------*/
main .mapGraph {
    margin-top: 1.2rem;
}

main .mapGraph h2 {
    margin-bottom: 0.8rem;
}

.mapGraph h3{
    text-align: center;
    margin-bottom: 10px;
    margin-top: -15px;
    color: var(--color-dark);
    font-size: 15px;
}
.mapGraph h4{
    text-align: center;
    margin-bottom: 10px;
    color: var(--color-dark);
}

main .mapGraph .mapcontainer{
    padding: 1rem;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    width: 100%;
    height:64vh;
}

main .mapGraph .mapcontainer #map {
    width:100%;
    height: 60vh;
    border-radius: 20px;
}

.barGraph h3{
    text-align: center;
    margin-bottom: 5px;
    margin-top: -15px;
    color:  var(--color-dark);
    font-size: 15px;
}
.barGraph h4{
    text-align: center;
    margin-bottom: 10px;
    color: var(--color-dark);
}
/*----------------------------------------------------------------------------*/
main .info_advisory {
    margin-top: 1.2rem;
}

main .info_advisory h2 {
    margin-bottom: 0.8rem;
}

main .info_advisory .infocontainer{
    padding: 1rem;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    width: 100%;
    height: 20vh;
}
/*----------------------------------------------------------------------------*/



div button{
    margin: 2px;
    display: inline-block;
    font-size: 16px;
    background: var(--dark-gray);
    color: var(--color-background);
    width: 160px;
    padding: 5px;
    border-radius: 20px;
    transition: all .45s ease;
}

div button b{
color: #0c0c0c;
}

div button:hover, .active{
    background: var(--color-hover);
    cursor: pointer;
}

a.active button{
    background: var(--color-hover);
}

/*----------------------------------------------------------------------------*/

main .graphs {
    display: grid;
    grid-template-columns: [first content-start] 1fr [content-end sidebar-start] 300px [lastline];
    column-gap: 10px;
    width: 100%;
    height: 30vh;
}
main .graphs > div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

main .wavegraph{
    margin-top: 11.5rem;
    margin-bottom: 0.8rem;
}

main .wavegraph .box3{
    padding: 1rem;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    width: 100%;
}

main .wavegraph .box3 canvas > #Wave {
    color: var(--color-primary);
}

/*---------------------NEWS UPDATES----------------------*/
main .news {
    margin-top: 0.8rem;
}

main .news h3{
    margin: 1rem;
    margin-bottom:0.8rem;
    font-size: 16px;
    font-weight: 600;
}

main .news .newsupdate{
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-raduis-3);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-top: 20px; 
}

main .news .newsupdate b{
    padding-top: 12px;
    color: var(--color-primary);
}
main .news .newsupdate b:hover{
    text-decoration: underline;
}

main .news .newsupdate p{
    padding-top: 12px;
    color: var(--color-dark);
    text-align: justify;
}

/*-------------------------------------------*/

main .news .newsupdate{
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-raduis-3);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-top: 20px; 
}

/*-----------------------RIGHT SECTION--------------------------*/

.right{
    margin-top: 1.4rem;
}

.right .top{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right .top button {
    display: none;
}

.right .theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}
.right .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler span.active {
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right .top .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
}

/*---------------------EMERGENCY ALERT---------------------*/

.right .subscriptionContainer {
    margin-top: 1.1rem;
}
.right .subscriptionContainer h2{
    margin-bottom: 1.1rem;
}

.right .subscriptionContainer .subupdate{
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-raduis-3);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-top: 5px; 
}


/*----------------------LATEST UPDATES----------------------*/
/*---------------------WEATHER FORECAST----------------------*/
.right .latest-updates {
    margin-top: 1.2rem;
}
.right .latest-updates h2{
    margin-bottom:0.8rem;
}

.right .latest-updates h3 {
    margin: 1rem;
    margin-bottom:0.8rem;
    font-size: 16px;
    font-weight: 600;
}

.right .latest-updates .recentupdates {
    margin-bottom: 0.8rem;
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all .45s ease
}

.right .latest-updates .recentupdates:hover {
    transform: translateY(-3px);
    cursor: pointer;
}

.right .latest-updates .recentupdates .recentupdate {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

:root{
    --var-theme:#235083;
}
.right .latest-updates .recentupdates .recentupdate {
  
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-primary);
}

@keyframes fadeIn {
    to {
        scale: 1;
        opacity: 1;
    }
}


.right .latest-updates .recentupdates .recentupdate .containerW {
    position: relative;
    width: 500px;
    height: 450px;
    background: var(--color-white);
    padding: 28px;
    overflow: hidden;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    transition: .6s ease-out;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}




/*---------------------EMERGENCY HOTLINES----------------------*/
.right .hotlines {
    margin-top: 1.2rem;
    background: var(--color-white);
}
.right .hotlines h2{
    margin-bottom: 0.8rem;
}

.right .hotlines .contacts{
    background: var(--color-white);
    display: relative;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    margin-top: 5px;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-raduis-3);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-top: 5px;
    padding-right: 5px;
}

.right .hotlines .contacts ul{
    padding-top: 10px;
}
/*-------------------------------------DAMAGES-----------------------------------------*/
.right .damages{
    margin-top: 1.2rem;
}

.right .damages h2{
    margin-bottom: 0.8rem;
}

.right .damages .cost {
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-raduis-3);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all .45s ease;
    padding-top: 5px;
}

.right .damages .cost:hover {
    transform: translateY(-3px);
    cursor: pointer;
}

.right .damages .cost .icon{
    padding: 0.9rem;
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-primary);
    display: flex;
}

/*--------------------------DISASTER PREPAREDNESS ADVISORIES-----------------------------*/
.right .advisories{
    margin-top: 1.2rem;
}

.right .advisories h2{
    margin-bottom: 0.8rem;
}

.right .advisories .tips {
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-raduis-3);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all .45s ease;
    padding-top: 5px;
}

.right .advisories .tips:hover {
    transform: translateY(-3px);
    cursor: pointer;
}

.right .advisories .tips .icon{
    padding: 0.9rem;
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-primary);
    display: flex-end;
}

/*------------------------------MEDIA QUERIES---------------------------------*/

@media screen and (max-width: 1200px){
    .container{
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }
    aside .logo h2{
        display: none;
    }

    aside .sidebar{
        width: 5rem;
    }

    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a {
        width: 5rem;  
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

    main .casualties{
        grid-template-columns: 1fr;
        gap: 0;
    }

    .right .graphs{
        grid-template-columns: 1fr;
        gap: 0;
    }

}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside{
        position:fixed;
        left: -100%;
        background: var(--color-white);
        width: 20rem;
        z-index: 3;
        border-radius: 20px;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: -5px;
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu { 
        to {
            left: 0;
        }
    }

    aside .logo{
        margin-left: 1rem;
    }
    aside .logo h2{
        display: inline;
        padding: -12px;
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }
    
    aside .sidebar a:last-child{
        position: absolute;
        bottom: 5rem;
    }

    aside .close {
        display: inline-block;
        cursor: pointer;
        margin-top: -12rem;
        padding: 0 17rem;
        margin-bottom: -1rem;
    }

    main {
        margin-top: 8rem;
        padding: 0 1rem;
    }
    
    .right{
        width: 94%;
        margin: 0 auto 4 rem;
    }

    .right .top{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .right .top .theme-toggler {
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .right .profile .info {
        display: none;
    }

    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right .top button span{
        font-size: 2rem;
    }

}